@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes text {
  0% {
    background-color: theme(colors.gray.900 / 70%);
    color: theme(colors.sky.500);
  }
  1% {
    background-color: theme(colors.sky.500 / 75%);
    color: white;
  }
  30% {
    background-color: theme(colors.sky.500 / 75%);
    color: white;
  }
  100% {
    background-color: theme(colors.gray.900 / 70%);
    color: theme(colors.sky.500);
  }
}
